.section {

    //Desktop
    @media only screen and (min-width: $desktop) {
        display: flex;
        min-height: 100vh;
    }

    &__container {
        padding: 6rem 3rem;

        @media only screen and (min-width: $desktop) {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &--two {
            background: $light-blue;
        }
    }
}